<<<<<<< HEAD
<h1>A premier travel website</h1>
<p>We will help you find your ultimate destination.</p>
<p>My favorite color is <%= @color %>.</p>
=======
<h1>A Premier Travel Website </h1>
<p>We will help you find your ultimate destination.</p>
<p>Our favorite color of the day is <%= @color %></p>

>>>>>>> upstream/working
<style>
body {
  background: <%= @color %>;
}
</style>
<<<<<<< HEAD
<%= link_to 'blue', about_path(color: 'red'), class: 'btn btn-primary'%>
=======
<%= link_to 'blue', about_path(color: '#9dc6d8' ), class: 'btn btn-default'%>
>>>>>>> upstream/working
