<% if notice != nil %>
  <p id="notice" class="alert alert-success" role="alert">
    <%= notice %>
  </p>
<% end %>
<div class="nav nav-pills" role="presentation">
  <% @my_countries.each do |c| %>
    <li><%= link_to c.country, destinations_path(country: c.country) %></li>
  <% end %>
</div>
<h1>Listing Destinations</h1>
<div class="row">
  <% @destinations.each do |destination| %>
    <div class="col-md-4">
      <div class="well">
        <p><%= destination.city %></p>
        <p><%= destination.country %></p>
        <p><%= destination.population %></p>
        <p><%= destination.description %></p>
        <p>
          <%= link_to 'Show', destination, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_destination_path(destination), class: 'btn btn-default' %>
          <%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Destination', new_destination_path %>
