<% if notice != nil %>
  <p id="notice" class="alert alert-success" role="alert">
    <%= notice %>
  </p>
<% end %>
<div class="nav nav-pills" role="presentation">
  <% @my_countries.each do |c| %>
    <li><%= link_to c.country, destinations_path(country: c.country) %></li>
  <% end %>
</div>
<h1>Listing Destinations</h1>
<div class="row">
  <% @destinations.each do |destination| %>
  <div class="col-md-4">
    <div class="well">
      <strong><i><%= "#{destination.city}" %></i>, <%= "#{destination.country}" %></strong>
      <p>population<%= destination.population %></p>
      <% if destination.avatar_file_name != nil %>
        <center><p><%= image_tag destination.avatar.url(:medium), class: "img-responsive" %></p></center>
      <% end %>
      <p><%= destination.description %></p>
      <p>
        <td><%= link_to 'Show', destination, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_destination_path(destination), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
      </p>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Destination', new_destination_path %>
